{% extends "layout.twig" %}

{% block body %}
    <h1> Forgot Password ? Nous allons vous envoyer un email a votre adresse utilisateur </h1>


    <form action="" method="POST">
        
        <div class="form-group">
            <label for="username"> Quel est votre username ? : </label>
            <input type="text" id="username"  name="username" class="form-control">
        </div>


        <button type="submit" class="btn btn-success mt-3">Send Mail</button>

{% endblock body %}