{% extends "layout.twig" %}

{% block body %}

<h1 class="text-center">Reset Password !</h1>
{% if errorForm %}

    {% for error in errorForm %}
    <ul>
    {% if error.password %}
        <li>{{error.password.message}}</li>
    {% endif %}

    {% if error.passwordConfirm %}
        <li>{{error.passwordConfirm.message}}</li>
    {% endif %}
    </ul>
        
    {% endfor %}
    {% endif %}
<form action='' method='POST'>

<div class="form-group">
    <label for="password">password :</label>
    <input type="password" name="password" id="password" value="password" class="form-control">
    </div>

    <div class="form-group">
    <label for="password-confirm">Repeat password :</label>
    <input type="password" name="passwordConfirm" id="password-confirm" class="form-control">
    </div>

<button type="submit" class="btn btn-success mt-3">Reset Password</button>

</form>


{% endblock %}