body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image:url("/images/vert.png")
}

a {
  color: #00B7FF;
}

label{
  color:lightgoldenrodyellow;
}

a:hover {
  color:honeydew;
}

p{
  color:lightgoldenrodyellow;
}

h1{
  color:lightgoldenrodyellow;
}
